.criterion {
  color: var(--basic-light-white);
  background-image: url(../img/background-catalog2.jpg);
  background-color: var(--basic-light-blue);
  background-repeat: no-repeat;
  background-size: 110% 110%;
  line-height: 21px;
}

.criterion__form {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1055px;
}

@media (max-width: 1200px) {
  .criterion__form {
    max-width: 800px;
  }
}

.criterion__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.criterion__fieldset:nth-child(2) {
  margin-left: 50px;
}

.fieldset-checkboxes {
  max-width: 140px;
  padding-right: 120px;
}

.criterion__fieldset-days {
  margin-left: auto
}

.criterion__type {
  font-size: 16px;
  font-weight: 700;
  padding-top: 27px;
}

.criterion__checkboxes {
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-bottom: 31px;
}

.criterion__label-checkbox{
  font-size: 14px;
  font-weight: 400;
}

.criterion__checkbox {
  padding-top: 25px;
  padding-left: 45px;
}

.criterion__number-of-people {
  margin-top: 22px;
}

.criterion__checkbox label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.criterion__input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.criterion__input-checkbox:checked + label::before {
  left: -42px;
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
}

/*слайдер - начало*/
.criterion__range-filter {
  width: 316px;
  margin-top: 11px;
}

.filter-item legend {
  font-size: 14px;
  line-height: 21px;
}

.range-controls {
  position: relative;
  margin-bottom: 33px;
  padding-top: 20px;
  border-radius: 5px;
}

.slider {
    -webkit-appearance: none;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--basic-light-white);
    outline: none;
}

.slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 25%;
    top: 15px;
    width: 50%;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 22px;
    padding: 0;
    background-image: url(../img/filter-button.svg);
    cursor: pointer;

    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

.slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ea4550;
    cursor: pointer;

    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

.slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    border: 0;
}
.slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
.slider input[type=range]::-moz-focus-outer {
  border: 0;
}


.range-controls {
  position: relative;
  margin-bottom: 33px;
  padding-top: 20px;
  border-radius: 5px;
}


.criterion__price-controls {
  display: flex;
  justify-content: space-around;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  padding-top: 7px;
  padding-bottom: 8px;
}

.criterion__price-controls::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 22px;
  background-color: var(--basic-light-white);
}

.criterion__price-controls label {
  font-size: 14px;
  line-height: 21px;
}

.criterion__price-controls input {
  width: 50px;
  text-align: center;
  color: var(--basic-light-white);
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
}
/*слайдер - конец*/

.criterion__show-button {
  margin: 0 auto;
  min-width: 137px;
  padding-top: 7px;
  padding-bottom: 8px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
