:root {
    --basic-light-white: #FFFFFF;
    --basic-white: #F2F2F2;
    --basic-dark-white: #EBEBEB;
    --basic-dark-white2: #EEEEEE;
    --basic-light-blue: #81B3D2;
    --basic-blue: #669EC0;
    --basic-dark-blue: #5496BD;
    --basic-light-gray: #BDBBBC;
    --basic-light-gray2: #E5E5E5;
    --basic-gray: #A9A9A9;
    --basic-dark-gray: #CACACA;
    --basic-light-brown: #766357;
    --basic-brown: #604E43;
    --basic-dark-brown: #503E33;
    --basic-light-black: #6A6A6A;
    --basic-light-black2: #666666;
    --basic-black: #333333;
    --basic-dark-black: #000000;
    --basic-dark-black2: #231F20;
  }
    
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-light-white);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

*, *::before, *::after { box-sizing: border-box; }

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
