.reasons__list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.reasons__reason {
  color: var(--basic-light-white);
  background-color: var(--basic-light-blue);
  text-align: center;
  line-height: 21px;

}

.reasons__reason-wrapper {
  display: flex;
  justify-content: center;
}

.reasons__resons-text {
  margin: auto 0;
  min-width: 400px;
}

.reasons__resons-text-h3 {
  max-width: 151px;
  padding-bottom: 25px;
  margin: 0 auto;
}

.reasons__resons-text-p {
  max-width: 301px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .reasons__resons-text-p {
    font-size: 12px;
  }

  .reasons__resons-text-h3 {
    font-size: 14px;
    padding-bottom: 15px;
  }
}

.reasons__photo-chelyabinsk img{
  display: block;
}

.reasons__about-fasthotels {
  text-align: center;
  list-style: none;
  line-height: 21px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
}

.reasons__about-fasthotels-svg {
  padding-top: 60px;
  padding-bottom: 28px;
}

.reasons__about-fasthotels-svg-third {
  padding-top: 70px;
}

.reasons__about-fasthotels-p {
  max-width: 297px;
  margin: 0 auto;
  padding-top:25px;
  padding-bottom: 82px;
}
