@import "main-elements.css";
@import "buttons.css";
@import "login.css";

@import "main-header.css";

@import "reasons.css";
@import "fast-hotels.css";
@import "alleged-dates.css";
@import "search-hotels.css";

@import "contacts.css";

@import "criterion.css";
@import "search-filters.css";
@import "hotels-list.css";
@import "hotel.css";

@import "booking.css";

@import "footer.css";


.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  margin: 0 auto;
}




.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateX(-50%) translateY(0);
  }

  70% {
    transform: translateX(-50%) translateY(20%);
  }

  90% {
    transform: translateX(-50%) translateY(10%);
  }

  100% {
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-60%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-40%);
  }
}
