.alleged-dates {
    text-align: center;
    line-height: 24px;
    padding-top: 58px;
}
  
.alleged-dates__text {
    padding-bottom: 48px;
    max-width: 435px;
    margin: 0 auto;
}
  
.alleged-dates__interested-in {
    font-size: 30px;
    font-weight: bold;
    color: var(--basic-dark-black);
}
  
  
  
.button-interested-in {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    min-width: 568px;
    padding-top: 30px;
    padding-bottom: 30px;

}