.criterion {
  color: var(--basic-light-white);
  background-image: url(../img/background-catalog2.jpg);
  background-color: var(--basic-light-blue);
  line-height: 21px;
}

.criterion__form {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1055px;
}

.criterion__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.fieldset-checkboxes {
  max-width: 140px;
  padding-right: 120px;
}

.criterion__fieldset-days {
  margin-left: auto
}

.criterion__type {
  font-size: 16px;
  font-weight: 700;
  padding-top: 27px;
}

.criterion__checkboxes {
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-bottom: 31px;
}

.criterion__label-checkbox{
  font-size: 14px;
  font-weight: 400;
}

.criterion__checkbox {
  padding-top: 25px;
  padding-left: 45px;
}

.criterion__checkbox label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.criterion__input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.criterion__input-checkbox:checked + label::before {
  left: -42px;
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
}

/*слайдер - начало*/
.criterion__range-filter {
  width: 316px;
  margin-top: 11px;
}

.filter-item legend {
  font-size: 14px;
  line-height: 21px;
}

.range-controls {
  position: relative;
  margin-bottom: 33px;
  padding-top: 20px;
  border-radius: 5px;
}

.scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  mix-blend-mode: normal;
}

.bar {
  width: 75%;
  height: 2px;
  background-color: var(--basic-light-white);
}

.range-controls .toggle {
  position: absolute;
  top: 11px;
  left: 0;
  width: 20px;
  height: 22px;
  padding: 0;
  background-image: url(../img/filter-button.svg);
  cursor: pointer;
}

.range-controls .toggle-min:hover,
.range-controls .toggle-min:focus {
  transform: scale(1.2);
}

.range-controls .toggle-max:hover,
.range-controls .toggle-max:focus {
  transform: scale(1.2);
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 233px;
}

.criterion__price-controls {
  display: flex;
  justify-content: space-around;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  padding-top: 7px;
  padding-bottom: 8px;
}

.criterion__price-controls::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 22px;
  background-color: var(--basic-light-white);
}

.criterion__price-controls label {
  font-size: 14px;
  line-height: 21px;
}

.criterion__price-controls input {
  width: 50px;
  text-align: center;
  color: var(--basic-light-white);
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
}
/*слайдер - конец*/

.criterion__show-button {
  margin: 0 auto;
  min-width: 137px;
  padding-top: 7px;
  padding-bottom: 8px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
