.fasthotels__image-bg {
  width: 100%;
  height: 509px;
  background-image: url(../img/intro-mask.svg),
  url(../img/main-background2.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position:  50% 100.5%, center;
}

.fasthotels__img {
    margin-top: 77px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.fasthotels {
    text-align: center;
    line-height: 26px;
    margin: 0 auto;
    padding-top: 41px;
    padding-bottom: 51px;
}

.fasthotels__description {
    margin: 0 auto;
    color: var(--basic-dark-black);
    font-size: 21px;
    max-width: 470px;
}

.fasthotels__description-text {
    max-width: 519px;
    padding-top: 42px;
    margin: 0 auto;
}
