.main-footer .container {
    margin-top: -20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--basic-light-white);
    opacity: 0.9;
}

.main-footer__info {
    margin: 0;
    padding-top: 23px;
    padding-bottom: 36px;
    padding-left: 111px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-dark-black);
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
.main-footer__hashtag {
    padding-bottom: 9px;
}
  
.main-footer__info a {
    color: var(--basic-dark-black);
}
  
.main-footer__social-list {
    display: flex;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: center;
    padding-bottom: 36px;
    padding-top: 36px;
    flex-wrap: wrap;
    list-style: none;
}
  
.main-footer__social-item {
    font: inherit;
    text-align: center;
    color: var(--basic-light-white);
    text-transform: uppercase;
    background-color: var(--basic-light-blue);
    border: none;
    width: 46px;
    height: 48px;
    margin: 0px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.main-footer__social-item:hover,
.main-footer__social-item:focus{
    background-color: var(--basic-blue);
}
  
.main-footer__social-item:active {
    background-color: var(--basic-dark-blue);
}
  
.main-footer__social-item:active path {
    opacity: 0.3;
}
  
.main-footer__social-item a {
    padding-top: 5px;
}
  
.main-footer__htmla-logo path {
    width: 115px; 
    height: 41px;
    fill: var(--basic-dark-black2);
}
  
.main-footer__copyright {
    display: flex;
    margin: 0;
    justify-self: end;
    padding-right: 138px;
}
  
.main-footer__website-by {
    margin: 0px;
    padding-top: 49px;
    padding-bottom: 45px;
    padding-right: 8px;
}
  
.main-footer__htmla-logo {
    padding-top: 37px;
    padding-bottom: 35px;
}
  
.main-footer__htmla-logo:hover path,
.main-footer__htmla-logo:focus path {
    fill: var(--basic-light-blue);
}
  
.main-footer__htmla-logo:active path { 
    fill: var(--basic-light-gray);
}
