.date-form {
    font-weight: 700;
    line-height: 26px;
    padding: 55px;
}
  
.date-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
    align-items: center;
}
  
.date-item button {
    border: none;
    background-color: transparent;
}
  
.calendar-date {
    min-width: 346px;
    background-color: var(--basic-white);
    display: grid;
    grid-template-columns: 1fr 37px;
}
  
.calendar-date input {
    border: none;
    background-color: transparent;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 13px;
}
  
.calendar-button path {
    fill: var(--basic-gray);
}
  
.calendar-button:hover path,
.calendar-button:focus path {
    fill: var(--basic-dark-black);
}
  
.calendar-button:active path {
    fill: var(--basic-light-blue);
}
  
.number-of-people {
    position: relative;
    background-color: var(--basic-white);
    min-width: 114px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
  
.number-of-people input {
    width: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    color: #283136;
    border: none;
    margin: 0 auto;
}
  
.button-minus::before {
    position: absolute;
    content: "";
    top: 18px;
    left: 13px;
    width: 12px;
    height: 3px;
    background-color: var(--basic-gray);
}
  
.button-plus::before {
    position: absolute;
    content: "";
    top: 14px;
    left: 93px;
    width: 3px;
    height: 11px;
    background-color: var(--basic-gray);
}
  
.button-plus::after {
    position: absolute;
    content: "";
    top: 18px;
    left: 89px;
    width: 11px;
    height: 3px;
    background-color: var(--basic-gray);
}
  
.button-minus:hover::before,
.button-minus:focus::before,
.button-plus:hover::before,
.button-plus:focus::before,
.button-plus:hover::after,
.button-plus:focus::after {
    background-color: var(--basic-dark-black);
}
  
.button-minus:active::before,
.button-plus:active::before,
.button-plus:active::after {
   background-color: var(--basic-dark-blue);
}
  
.date-form input[type="text"],
.date-form input[type="number"] {
    font: inherit;
    color: var(--basic-dark-black);
    text-transform: uppercase;
}
  
.calendar-date {
    font: inherit;
    background-color: var(--basic-white);
}
  
.calendar-date:hover,
.button-minus:hover,
.button-plus:hover {
    background-color: var(--basic-dark-white);
}
  
.date-item *:focus {
    outline: 2px solid var(--basic-light-gray2);
    outline-offset: -2px;
    background-color: var(--basic-light-white);
}
  
.number-of-people {
    max-width: 114px;
}
  
.number-of-people input {
    background-color: var(--basic-white);
}
  
.button-light-blue-search {
    min-width: 458px;
    padding: 16px 0;
}
  
.search-text {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}
